# Ignore all

#
depth_estimate/master.zip
depth_estimate/ZoeD_M12_N.pt

image_segmentation/coco_pretrain_1280x1280_150_16_dinat_l_oneformer_ade20k_160k.pth
image_segmentation/mapillary_pretrain_250_16_convnext_l_oneformer_cityscapes_90k.pth
image_segmentation/road/*
image_segmentation/road_color/*
image_segmentation/semantic_inference/*
image_segmentation/panoptic_inference/*
image_segmentation/instance_inference/*


# output dir
.DS_Store
output
instant_test_output
inference_test_output

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~



.vscode/*
Examples/Monocular-Inertial/CameraTrajectory*
Examples/Monocular-Inertial/KeyFrameTrajectory*

Examples/Monocular/CameraTrajectory*
Examples/Monocular/KeyFrameTrajectory*

CMakeLists.txt.user
CMakeLists_modified.txt

Examples/RGB-D/rgbd_tum
Examples/RGB-D/rgbd_realsense_D435i

Examples/RGB-D-Inertial/rgbd_inertial_realsense_D435i

Examples/Monocular/mono_realsense_D435i
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/Monocular/mono_tum_vi
Examples/Monocular/mono_realsense_t265
Examples/Monocular/mono_mi 
Examples/Monocular/mono_cloudpoint
Examples/Monocular/mono_cloudpoint_depth_seg
cloudpoint*.pcd
cloudpoints*.ply

Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_tum_vi
Examples/Stereo/stereo_realsense_t265
Examples/Stereo/stereo_realsense_D435i

Examples/Monocular-Inertial/mono_inertial_euroc
Examples/Monocular-Inertial/mono_inertial_tum_vi
Examples/Monocular-Inertial/mono_inertial_realsense_t265
Examples/Monocular-Inertial/mono_inertial_realsense_D435i
Examples/Monocular-Inertial/mono_inertial_realsense_D435i_2
Examples/Monocular-Inertial/mono_inertial_mi


Examples/Stereo-Inertial/stereo_inertial_euroc
Examples/Stereo-Inertial/stereo_inertial_tum_vi
Examples/Stereo-Inertial/stereo_inertial_realsense_t265
Examples/Stereo-Inertial/stereo_inertial_realsense_D435i


Examples/ROS/ORB_SLAM3/Mono
Examples/ROS/ORB_SLAM3/Mono_Inertial
Examples/ROS/ORB_SLAM3/MonoAR
Examples/ROS/ORB_SLAM3/RGBD
Examples/ROS/ORB_SLAM3/Stereo
Examples/ROS/ORB_SLAM3/Stereo_Inertial

Examples/Calibration/recorder_realsense_D435i

Examples/Tests/viewer_dataset
Examples/Tests/sophus_test

Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples/ROS/ORB_SLAM3/build/


Examples_old/Monocular-Inertial/mono_inertial_euroc_old
Examples_old/Monocular-Inertial/mono_inertial_tum_vi_old
Examples_old/Monocular/mono_euroc_old
Examples_old/Monocular/mono_kitti_old
Examples_old/Monocular/mono_tum_old
Examples_old/Monocular/mono_tum_vi_old
Examples_old/RGB-D/rgbd_tum_old
Examples_old/Stereo-Inertial/stereo_inertial_euroc_old
Examples_old/Stereo-Inertial/stereo_inertial_tum_vi_old
Examples_old/Stereo/stereo_euroc_old
Examples_old/Stereo/stereo_kitti_old
Examples_old/Stereo/stereo_tum_vi_old



KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/lib/
Thirdparty/g2o/config.h
Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt
